.container {
    &-introduction {
        margin-bottom: 50px;
        .wrapper {
            min-height: 750px;
            background: rgb(239, 239, 239) url(../img/introductionBack.png)no-repeat;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: center;
        }
        &__title {
            width: 50%;
            padding-right: 100px;
            h2 {
                font-size: 50px;
                margin-bottom: 40px;
                font-family: 'Raleway', sans-serif;
            }
            p {
                font-size: 18px;
                margin-bottom: 37px;
            }
        }
        &__hrefs {
            width: 50%;
            padding-right: 100px;

            a {
                margin-right: 20px;
            }
            img {
                            transition-duration:0.5s;
                            &:hover {
            box-shadow:0px 0px 10px 2px black;
            }
            }

        }
    }
    }