.container {
    &-slider {
    margin-bottom:50px;
        .wrapper {
            min-height: 750px;
            img {
                width: 100%;
                height: 750px;
            }
            .fade {
                width: 100%;
                margin: 0 auto;
                position: relative;
            }
        }
    }
    .slick-prev {
        position: absolute;
        background: url(../img/arrowPrev.png)no-repeat;
        width: 75px;
        height: 75px;
        left: 42px;
        z-index: 5;
        &:before {
        position: absolute;
        background: url(../img/arrowPrev.png)no-repeat;
        width: 75px;
        height: 75px;
        left:0;
        z-index: 5;
        top:0;
        }
    }
    .slick-next {
        position: absolute;
        background: url(../img/arrowNext.png)no-repeat;
        width: 75px;
        height: 75px;
        right: 42px;
        z-index: 5;
        &:before {
        position: absolute;
        background: url(../img/arrowNext.png)no-repeat;
        width: 75px;
        height: 75px;
        right: 0px;
        top:0;
        z-index: 5;
        }
    }
}